<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>joelmo.dev</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>joelmo <span></span> dev</h1>
        </div>

        <button class="menu-toggle" aria-label="Abrir menu" aria-expanded="false">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <div class="nav-container">
            <nav class="links">
                <a href="#status">Status</a>
                <a href="#projects">Projetos</a>
                <a href="https://github.com/joelmohh" target="_blank" rel="noopener">GitHub</a>
            </nav>

            <div class="actions">
                <button class="theme-toggle"><img src="/img/sun.svg" alt="">Aa</button>
            </div>
        </div>
    </header>

    <div class="container">
        <section id="status" class="general-system">
            <div class="status"></div>
            <div class="info">
                <h2><%= statusMessage %></h2>
                <p>Last updated: <%= lastUpdated %></p>
            </div>
        </section>
        <section id="projects" class="services">
            <% projects.forEach(function(project) { %>
                <div class="service-card" data-service="<%= project.name %>" data-description="<%= project.description %>">
                </div>
            <% }); %>            
        </section>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>