<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>joelmo.dev</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>joelmo <span></span> dev</h1>
        </div>

        <button class="menu-toggle" aria-label="Abrir menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <div class="nav-container">
            <nav class="links">
            </nav>

            <div class="actions">
                <button class="theme-toggle"><img src="/img/sun.svg" alt="">Aa</button>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="general-system">
            <div class="status"></div>
            <div class="info">
                <h2>All Systems Online</h2>
                <p>Last updated: June 10, 2024 - 14:00 UTC</p>
            </div>
        </div>
        <div class="services">
            <div class="service-card" data-service="Database" data-description="Our primary database service ensuring data integrity and availability.">
            </div>
        </div>
    </div>
    <script src="../public/js/script.js"></script>
</body>

</html>