<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>joelmo.dev</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <nav class="navbar">
        <a class="logo" href="https://joelmo.dev">joelmo <span></span> dev</a>
        <div class="actions">
            <button class="theme-toggle">Aa</button>
        </div>
    </nav>

    <section class="login-form">
        <h1>Login</h1>
        <div class="loginForm">
            <label for="username">Username</label>
            <input type="text" id="username">
            <label for="password">Password</label>
            <span class="pass-incorect">incorrect password</span>
            <input type="password" id="password">
            <button id="loginButton">Login</button>
        </div>
    </section>

    <script src="/js/script.js"></script>
    <script src="/js/dash.js"></script>
</body>

</html>